<div class="formWrapper">
  <form [formGroup]="currencyForm" class="form" autocomplete="off">
    <div class="convertWrapper">
      <label class="convertLabel" for="convertFrom">Convert From</label>
      <input
        class="convertAmountInput"
        name="convertFrom"
        type="number"
        placeholder="1"
        (input)="handleChange('convertFrom')"
        formControlName="currencyFromValue"
        min="0"
        required
      />
      <div
        *ngIf="
          currencyForm.touched &&
          currencyForm.invalid &&
          currencyForm.get('currencyFromValue')?.invalid
        "
      >
        <p
          *ngIf="
              currencyForm.get('currencyFromValue')?.invalid &&
              currencyForm.get('currencyFromValue')?.touched && 
              currencyForm.get('currencyFromValue')?.errors?.['required']
            "
          class="alertMsg"
        >
          Please enter value
        </p>
        <p
          *ngIf="
              currencyForm.get('currencyFromValue')?.invalid &&
              currencyForm.get('currencyFromValue')?.touched && 
              currencyForm.get('currencyFromValue')?.errors?.['min']
            "
          class="alertMsg"
        >
          Minimal allowed value is 0
        </p>
      </div>
      <label class="visually-hidden" for="currencyFrom">Currency</label>
      <select
        class="selectStyled"
        name="currencyFrom"
        id="currencyFrom"
        required
        (change)="handleChange('convertFrom')"
        formControlName="changeFrom"
      >
        <option value="" disabled selected>--Choose Currency--</option>
        <option *ngFor="let currency of currencies" value="{{ currency }}">
          {{ currency }}
        </option>
      </select>
      <div
        *ngIf="
          currencyForm.touched &&
          currencyForm.invalid &&
          currencyForm.get('changeFrom')?.invalid
        "
      >
        <p
          *ngIf="
              currencyForm.get('changeFrom')?.invalid &&
              currencyForm.get('changeFrom')?.touched && 
              currencyForm.get('changeFrom')?.errors?.['required']
            "
          class="alertMsg"
        >
          Please choose currency
        </p>
      </div>
    </div>
    <div class="convertWrapper">
      <label class="convertLabel" for="convertTo">Convert To</label>
      <input
        class="convertAmountInput"
        name="convertTo"
        type="number"
        placeholder="1"
        min="0"
        (input)="handleChange('convertTo')"
        formControlName="currencyToValue"
      />
      <div
        *ngIf="
          currencyForm.touched &&
          currencyForm.invalid &&
          currencyForm.get('currencyToValue')?.invalid
        "
      >
        <p
          *ngIf="
              currencyForm.get('currencyToValue')?.invalid &&
              currencyForm.get('currencyToValue')?.touched && 
              currencyForm.get('currencyToValue')?.errors?.['required']
            "
          class="alertMsg"
        >
          Please enter value
        </p>
        <p
          *ngIf="
              currencyForm.get('currencyToValue')?.invalid &&
              currencyForm.get('currencyToValue')?.touched && 
              currencyForm.get('currencyToValue')?.errors?.['min']
            "
          class="alertMsg"
        >
          Minimal allowed value is 0
        </p>
      </div>
      <label class="visually-hidden" for="currencyTo">Currency</label>
      <select
        class="selectStyled"
        name="currencyTo"
        id="currencyTo"
        required
        (change)="handleChange('convertTo')"
        formControlName="changeTo"
      >
        <option value="" disabled selected>--Choose Currency--</option>
        <option *ngFor="let currency of currencies" value="{{ currency }}">
          {{ currency }}
        </option>
      </select>
      <div
        *ngIf="
          currencyForm.touched &&
          currencyForm.invalid &&
          currencyForm.get('changeTo')?.invalid
        "
      >
        <p
          *ngIf="
              currencyForm.get('changeTo')?.invalid &&
              currencyForm.get('changeTo')?.touched && 
              currencyForm.get('changeTo')?.errors?.['required']
            "
          class="alertMsg"
        >
          Please choose currency
        </p>
      </div>
    </div>
  </form>
  <p *ngIf="errorMsg">
    Oops, something went wrong, <span>{{ errorMsg }}</span>
  </p>
</div>
