<div class="formWrapper">
  <form [formGroup]="currencyForm" class="form" autocomplete="off">
    <div class="convertWrapper">
      <label class="convertLabel" for="convertFrom">Convert From</label>
      <input
        class="convertAmountInput"
        name="convertFrom"
        type="number"
        placeholder="1"
        (input)="handleChange('convertFrom')"
        formControlName="currencyFromValue"
        required
      />
      <app-error-msg
        [formTouched]="currencyForm.touched"
        [formIsInvalid]="currencyForm.invalid"
        [currencyValueInvalid]="currencyForm.get('currencyFromValue')?.invalid"
        [currencyValueTouched]="currencyForm.get('currencyFromValue')?.touched"
        [currencyValueMinLength]="
          currencyForm.get('currencyFromValue')?.errors?.['min']
        "
        [currencyValueRequired]="currencyForm.get('currencyFromValue')?.errors?.['required']"
      ></app-error-msg>
      <label class="visually-hidden" for="currencyFrom">Currency</label>
      <select
        class="selectStyled"
        name="currencyFrom"
        id="currencyFrom"
        required
        (change)="handleChange('convertFrom')"
        formControlName="changeFrom"
      >
        <option value="" disabled selected>--Choose Currency--</option>
        <option *ngFor="let currency of currencies" value="{{ currency }}">
          {{ currency }}
        </option>
      </select>
      <app-error-msg
        [formTouched]="currencyForm.touched"
        [formIsInvalid]="currencyForm.invalid"
        [currencyInvalid]="currencyForm.get('changeFrom')?.invalid"
        [currencyValueRequired]="currencyForm.get('changeFrom')?.errors?.['required']"
        [currencyValueTouched]="currencyForm.get('changeFrom')?.touched"
      ></app-error-msg>
    </div>
    <div class="convertWrapper">
      <label class="convertLabel" for="convertTo">Convert To</label>
      <input
        class="convertAmountInput"
        name="convertTo"
        type="number"
        placeholder="1"
        (input)="handleChange('convertTo')"
        formControlName="currencyToValue"
      />
      <app-error-msg
        [formTouched]="currencyForm.touched"
        [formIsInvalid]="currencyForm.invalid"
        [currencyValueInvalid]="currencyForm.get('currencyToValue')?.invalid"
        [currencyValueTouched]="currencyForm.get('currencyToValue')?.touched"
        [currencyValueMinLength]="
          currencyForm.get('currencyToValue')?.errors?.['min']
        "
        [currencyValueRequired]="currencyForm.get('currencyToValue')?.errors?.['required']"
      ></app-error-msg>
      <label class="visually-hidden" for="currencyTo">Currency</label>
      <select
        class="selectStyled"
        name="currencyTo"
        id="currencyTo"
        required
        (change)="handleChange('convertTo')"
        formControlName="changeTo"
      >
        <option value="" disabled selected>--Choose Currency--</option>
        <option *ngFor="let currency of currencies" value="{{ currency }}">
          {{ currency }}
        </option>
      </select>
      <app-error-msg
        [formTouched]="currencyForm.touched"
        [formIsInvalid]="currencyForm.invalid"
        [currencyInvalid]="currencyForm.get('changeTo')?.invalid"
        [currencyValueRequired]="currencyForm.get('changeTo')?.errors?.['required']"
        [currencyValueTouched]="currencyForm.get('changeTo')?.touched"
      ></app-error-msg>
    </div>
  </form>
  <app-error-msg [errorMsg]="errorMsg"></app-error-msg>
</div>
