<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header class="header">
  <h2 class="headerTitle">Exchange rate today</h2>
  <div class="headerExchange">
    <p>USD</p>
    <p *ngIf="uahToUsdExchangeRate?.rateBuy && uahToUsdExchangeRate?.rateSell">
      {{ uahToUsdExchangeRate?.rateBuy }} / {{ uahToUsdExchangeRate?.rateSell }}
    </p>
    <p
      *ngIf="!uahToUsdExchangeRate?.rateBuy && !uahToUsdExchangeRate?.rateSell"
    >
      Sorry, no Info
    </p>
  </div>
  <div class="headerExchange">
    <p>EUR</p>
    <p *ngIf="uahToUsdExchangeRate?.rateBuy && uahToUsdExchangeRate?.rateSell">
      {{ uahToEurExchangeRate?.rateBuy }} / {{ uahToEurExchangeRate?.rateSell }}
    </p>
    <p
      *ngIf="!uahToUsdExchangeRate?.rateBuy && !uahToUsdExchangeRate?.rateSell"
    >
      Sorry, no Info
    </p>
  </div>
</header>
<section>
  <h1 class="mainTitle">Currency Converter</h1>
  <div class="formWrapper">
    <form [formGroup]="currencyForm" class="form" autocomplete="off">
      <div class="convertWrapper">
        <label class="convertLabel" for="convertFrom">Convert From</label>
        <input
          class="convertAmountInput"
          name="convertFrom"
          type="number"
          placeholder="1"
          (input)="handleChange('convertFrom')"
          formControlName="currencyFromValue"
          min="0"
          required
        />
        <div *ngIf="currencyForm.touched && currencyForm.invalid">
          <p
            *ngIf="
              currencyForm.get('currencyFromValue')?.invalid &&
              currencyForm.get('currencyFromValue')?.touched && 
              currencyForm.get('currencyFromValue')?.errors?.['required']
            "
            class="alertMsg"
          >
            Please enter value
          </p>
          <p
            *ngIf="
              currencyForm.get('currencyFromValue')?.invalid &&
              currencyForm.get('currencyFromValue')?.touched && 
              currencyForm.get('currencyFromValue')?.errors?.['min']
            "
            class="alertMsg"
          >
            Minimal allowed value is 1
          </p>
        </div>
        <label class="visually-hidden" for="currencyFrom">Currency</label>
        <select
          class="selectStyled"
          name="currencyFrom"
          id="currencyFrom"
          required
          (change)="handleChange('convertFrom')"
          formControlName="changeFrom"
        >
          <option value="" disabled selected>--Choose Currency--</option>
          <option *ngFor="let currency of currencies" value="{{ currency }}">
            {{ currency }}
          </option>
        </select>
        <div *ngIf="currencyForm.touched && currencyForm.invalid">
          <p
            *ngIf="
              currencyForm.get('changeFrom')?.invalid &&
              currencyForm.get('changeFrom')?.touched && 
              currencyForm.get('changeFrom')?.errors?.['required']
            "
            class="alertMsg"
          >
            Please choose currency
          </p>
        </div>
      </div>
      <div class="convertWrapper">
        <label class="convertLabel" for="convertTo">Convert To</label>
        <input
          class="convertAmountInput"
          name="convertTo"
          type="number"
          placeholder="1"
          min="0"
          (input)="handleChange('convertTo')"
          formControlName="currencyToValue"
        />
        <div *ngIf="currencyForm.touched && currencyForm.invalid">
          <p
            *ngIf="
              currencyForm.get('currencyToValue')?.invalid &&
              currencyForm.get('currencyToValue')?.touched && 
              currencyForm.get('currencyToValue')?.errors?.['required']
            "
            class="alertMsg"
          >
            Please enter value
          </p>
          <p
            *ngIf="
              currencyForm.get('currencyToValue')?.invalid &&
              currencyForm.get('currencyToValue')?.touched && 
              currencyForm.get('currencyToValue')?.errors?.['min']
            "
            class="alertMsg"
          >
            Minimal allowed value is 1
          </p>
        </div>
        <label class="visually-hidden" for="currencyTo">Currency</label>
        <select
          class="selectStyled"
          name="currencyTo"
          id="currencyTo"
          required
          (change)="handleChange('convertTo')"
          formControlName="changeTo"
        >
          <option value="" disabled selected>--Choose Currency--</option>
          <option *ngFor="let currency of currencies" value="{{ currency }}">
            {{ currency }}
          </option>
        </select>
        <div *ngIf="currencyForm.touched && currencyForm.invalid">
          <p
            *ngIf="
              currencyForm.get('changeTo')?.invalid &&
              currencyForm.get('changeTo')?.touched && 
              currencyForm.get('changeTo')?.errors?.['required']
            "
            class="alertMsg"
          >
            Please choose currency
          </p>
        </div>
      </div>
    </form>
    <p *ngIf="errorMsg">
      Oops, something went wrong, <span>{{ errorMsg }}</span>
    </p>
  </div>
  {{ currencyForm.value | json }}
</section>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<!-- <form #currencyForm="ngForm" class="form" autocomplete="off">
      <div class="convertWrapper">
        <label class="convertLabel" for="convertFrom">Convert From</label>
        <input
          class="convertAmountInput"
          name="convertFrom"
          type="number"
          placeholder="1"
          (input)="handleChange('convertFrom')"
          [(ngModel)]="currencyModel.currencyFromValue"
        />
        <label class="visually-hidden" for="currencyFrom">Currency</label>
        <select
          class="selectStyled"
          name="currencyFrom"
          id="currencyFrom"
          [(ngModel)]="currencyModel.changeFrom"
          required
          #convertFrom="ngModel"
          (change)="handleChange('convertFrom')"
        >
          <option value="" disabled selected>--Choose Currency--</option>
          <option *ngFor="let currency of currencies" value="{{ currency }}">
            {{ currency }}
          </option>
        </select>
        <div *ngIf="convertFrom.touched && convertFrom.invalid">
          <p *ngIf="convertFrom.errors?.['required']" class="alertMsg">
            Please choose currency
          </p>
        </div>
      </div>
      <div class="convertWrapper">
        <label class="convertLabel" for="convertTo">Convert To</label>
        <input
          class="convertAmountInput"
          name="convertTo"
          type="number"
          placeholder="1"
          [(ngModel)]="currencyModel.currencyToValue"
          (input)="handleChange('convertTo')"
        />
        <label class="visually-hidden" for="currencyTo">Currency</label>
        <select
          class="selectStyled"
          name="currencyTo"
          id="currencyTo"
          [(ngModel)]="currencyModel.changeTo"
          #convertTo="ngModel"
          required
          (change)="handleChange('convertTo')"
        >
          <option value="" disabled selected>--Choose Currency--</option>
          <option *ngFor="let currency of currencies" value="{{ currency }}">
            {{ currency }}
          </option>
        </select>
        <div *ngIf="convertTo.touched && convertTo.invalid">
          <p *ngIf="convertTo.errors?.['required']" class="alertMsg">
            Please choose currency
          </p>
        </div>
      </div>
    </form> -->
