/* You can add global styles to this file, and also import other style files */
// @import url(./app/app.component.scss);
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(
    to right top,
    #310051,
    #4d156d,
    #6a2a8b,
    #8940a9,
    #a956c8,
    #b058d4,
    #b759e0,
    #be5bec,
    #ab48e8,
    #9534e3,
    #7d1fe0,
    #5f00dc
  );
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
